{% extends "administrator/base.html" %}
{% block content %}
<div>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The form -->
    <form class="example" action="{% url 'search' %}">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<br />
<br />
<h3>About page - coming soon</h3>
{% endblock content %}