{% extends "administrator/base.html" %}
{% block content %}
<div>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The form -->
    <form class="example" action="{% url 'search' %}">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <style>

        body {
          background: url("{% static 'administrator/bg.png' %}") no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
      </style>
    </head>
</div>
<br />
<br />
<h3>About page</h3>
{% endblock content %}