{% extends "administrator/base.html" %}
{% block content %}
<div class="d-flex d-flex justify-content-center flex-column align-items-stretch flex-shrink-0 bg-light" style="width: 70%;">
    <a href="{% url 'labs' %}" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-bold"><strong><h3>Vulnerable University: <u>Index</u></h3></strong></span>
    </a>
    <div class="list-group list-group border-bottom scrollarea bg-light.bg-gradient">
      <a href="{% url 'xss' %}" class="list-group-item list-group-item-action list-group-item-info py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">XSS vulnerability</strong>
          <small> <strong>XSS</strong></small>
        </div>
     <div class="col-10 mb-1 small bg-light.bg-gradient">Access the XSS (Cross site scripting) lab to learn and exploit us.</div>
      </a>
    </div>
    
</div>

  {% endblock content %}